*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,
*::before{
  box-sizing: inherit;
}
html{
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
  display: block;
  color: inherit;
}
p a{
  display: inline;
}
img,video,iframe,picture,figure{
  max-width: 100%;
  display: block;
}
form, input, select, textarea, button, label{
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;

}