:root{
  --color-scrollbar: #D3D3D4;
  --color-background-scrollbar: #eee
}



/* ?? SCROLL CHROME */

/* ancho del scroll*/
.content__page::-webkit-scrollbar{
width: 25px;
background: transparent;
}

/* es la parte que se mueve , propiamente el scroll*/
.content__page::-webkit-scrollbar-thumb{
 border: 10px solid  transparent;
 box-shadow: none; 
 border-radius: 40px;
  }
/* cuando estamos en el contenedor aparece el scroll el thum*/
  .content__page:hover::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 0 10px var(--color-scrollbar);
  } 

  .content__page:hover::-webkit-scrollbar-thumb:hover{
    border: 8px solid transparent;
    box-shadow: inset 0 0 0 10px var(--color-secundary)
  } 

  /* para que la barra del scroll no llegue a tomar las esquinas superiores*/
  .content__page::-webkit-scrollbar-track{
    background-color: transparent; /* !! esta la podemos quitar */
    margin: 40px 0;
  }

/* ?? SCROLL MOZ */

.content__page{
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar) transparent;
}

/* ?? SCROLL CHROME BARRA LATERAL */


/* ancho del scroll*/
.layout__aside::-webkit-scrollbar{
  width: 25px;
  background: var(--color-secundary);
  }
  
  /* es la parte que se mueve , propiamente el scroll*/
  .layout__aside::-webkit-scrollbar-thumb{
   border: 10px solid  transparent;
   box-shadow: none; 
   border-radius: 40px;
    }
  /* cuando estamos en el contenedor aparece el scroll el thum*/
    .layout__aside:hover::-webkit-scrollbar-thumb{
      box-shadow: inset 0 0 0 10px var(--color-principal);
    } 
  
    .layout__aside:hover::-webkit-scrollbar-thumb:hover{
      border: 8px solid transparent;
      box-shadow: inset 0 0 0 10px var(--color-secundary)
    } 
  
    /* para que la barra del scroll no llegue a tomar las esquinas superiores*/
    .layout__aside::-webkit-scrollbar-track{
      background-color: transparent; /* !! esta la podemos quitar */
      margin: 40px 0;
    }
  
  /* ?? SCROLL MOZ */
  
  .layout__aside{
    scrollbar-width: thin;
    scrollbar-color: var(--color-principal) var(--color-secundary);
  }
  